@import "media.css";

h1{
    font-family: Ubuntu, serif;
    font-size: 2vw;
    color: red;
    text-align: center;
}

p{
    font-family: Ubuntu, serif;
    text-align: center;
    font-size: 1.2vw;
}

#logos18{
    width: 10%;
    margin-left: 45%;
    margin-top: 15%;
}