.liplok{
    padding-left: 23%;
    padding-top: 2%;
    padding-bottom: 10%;
}

.liplok li{
    list-style: none;
    padding-top: 1%;
}

.liplok li a{
    display: inline-block;
    border: 2px solid rgba(241, 241, 241, 0.83);
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.05);
    width: 70%;
    text-decoration: none;
    color: black;
}

.liplok li a:hover{
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
}

.liplok .premium a{
    border: 2px solid #b02d2d;
}

.liplok .premium a:hover{
    box-shadow: 0 5px 8px rgba(227, 56, 56, 0.95);
}

.liplok li a #ad_crown{
    width: 4%;
    position: absolute;
    margin-top: -0.5%;
}

.liplok li a #part_data{
    text-align: right;
    padding-right: 1%;
    font-size: 1vw;
    font-family: Ubuntu, serif;
    color: #888888;
    font-style: italic;
}

.liplok li a #part_text{
    padding-top: 3%;
    padding-left: 2%;
    font-size: 1.5vw;
    overflow: hidden;
    max-height: calc(25px * 2);
    max-width: calc(150px * 5);
}

.liplok li a #part_description{
    text-align: right;
    padding-right: 1%;
    font-size: 1vw;
    color: #888888;
    font-style: italic;
    margin-bottom: 0;
}