{% extends 'feed/index.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'mianto/announcementEdit/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mianto/announcementEdit/css/media.css' %}">
{% endblock %}


{% block content %}
    <div class="block_ad">
        <p id="title_ad"><b>{{ ads.short_description_for_ad }}</b></p>
        <br/>
        <div class="block_content">
            <p id="ad_text">{{ ads.text }}</p>
            <p id="ad_description">{{ ads.ad_description }}</p>
            <p id="ad_date">{{ ads.correct_data }}</p>
        </div>
    </div>
    <div class="btnGroup">
        <form method="post">
            {% csrf_token %}
            {% if not ads.is_confirm %}
                <button type="submit" class="btn btn-success" name="btnconfirm" value="confirm">Подтвердить</button>
             {% endif %}
            {% if not ads.is_prime %}
                <button type="submit" class="btn btn-warning" name="btnconfirm" value="prime">Оформить премиум 50 рублей</button>
            {% endif %}
                <button type="submit" class="btn btn-danger" name="btnconfirm" value="delete">Удалить</button>

        </form>
    </div>
{% endblock content %}