{% extends 'feed/index.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'mianto/youngester/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mianto/youngester/css/media.css' %}">
{% endblock %}
{% block content %}
    <img id="logos18" src="{% static 'mianto/youngester/img/adult.png' %}" alt="18+">
    <h1><b>Возвращайтесь когда вам исполнится 18 лет.</b></h1>
    <p>Наш сайт исключительно для взрослых. Материалы предоставляемые нашим сайтом не предназначен для лиц младше 18 лет. </p>
{% endblock %}