@import "media.css";


.ribbon{
    padding-left: 15%;
    padding-top: 2%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    display: flex;
    height: 78vh;
    flex-direction: column;
}

.ribbon ul #titleDate{
    font-family: Ubuntu, serif;
    font-weight: bold;
    color: #333333;
    padding-left: 27%;
    font-size: 1.5vw;
}

.ribbon ul li{
    list-style: none;
    padding-top: 1%;
}

.ribbon ul li a{
    display: inline-block;
    border: 2px solid rgba(241, 241, 241, 0.83);
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.05);
    color: #333333;
    width: 70%;
    text-decoration: none;
    font-family: Ubuntu, serif;
    font-weight: bold;
}

.ribbon ul li a:hover{
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
}

.ribbon .premium li a{
    border: 2px solid #b02d2d;
    position: relative;
}

.ribbon .premium li a:hover{
    box-shadow: 0 5px 8px rgba(227, 56, 56, 0.95);
}

.ribbon ul li a #ad_crown{
    width: 5%;
    position: absolute;
    margin-top: -0.5%;
}

.ribbon ul li a #part_data{
    text-align: right;
    padding-right: 1%;
    font-size: 1vw;
    font-family: Ubuntu, serif;
    color: #888888;
    font-style: italic;
}

.ribbon ul li a #part_text{
    padding-left: 2%;
    font-size: 1.5vw;
    overflow: hidden;
    max-height: calc(25px * 2);
    max-width: calc(150px * 5);
}

.ribbon ul li a #part_description{
    text-align: right;
    padding-right: 1%;
    font-size: 1vw;
    color: #888888;
    font-style: italic;
    margin-bottom: 0;
}